<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="محمد عالم زاده , mmdalam ,  طراحی سایت "
    />
    <meta name="author" content="mohammad alamzade" />
    <meta name="generator" content="Hugo 0.98.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MMDALAM</title>

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/css/sweetalert2.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/main.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />

    <% if(req.getLocale() == 'en') { %>
    <link href="/css/en.css" rel="stylesheet" />
    <% } else if(req.getLocale() == 'fa') { %>
    <link href="/css/fa.css" rel="stylesheet" />
    <% } %> <%- style %>
  </head>
  <body>
    <%- body %>

    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/typed.js/typed.min.js"></script>
    <script src="/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="js/sweetalert2.min.js"></script>

    <script src="/js/main.js"></script>

    <% let sweetalert = req.flash('sweetalert'); if(sweetalert.length) { let
    data = sweetalert[0]; %>
    <script>
      Swal.fire({
          title: '<%= data.title %>',
          text: '<%= data.message %>',
          icon: '<%= data.icon %>',
          showConfirmButton: <%= data.button !== null ? true : false %>,
          confirmButtonText: '<%= data.button %>',
          timer : <%= data.button !== null ? 'null' : data.timer %>,
        })
    </script>
    <% } %> <%- script %>
  </body>
</html>
